*.pyc

*.opensdf
*.sdf
*.user
*.exe
*.VC.opendb
*.psess
*.pdb
*.deps
*.VC.db
*.iobj
*.ipdb
*.pyd
*_wrap.cpp
*.o
*.cxx
*.so
*.dll
*.docx
*.doc
*.ipynb

deepmimic/deepmimic/output/
deepmimic/deepmimic/x64/
deepmimic/deepmimic/Debug/
deepmimic/deepmimic/Release/external/
deepmimic/deepmimic/gmake/
deepmimic/deepmimic/lib/
deepmimic/deepmimic/external/
deepmimic/deepmimic/Backup/
deepmimic/deepmimic/models
deepmimic/deepmimic/datasets
deepmimic/deepmimic/expert_convert
deepmimic/deepmimic/venv

deepmimic/deepmimic/DeepMimicCore/x64/
deepmimic/deepmimic/DeepMimicCore/.vs/
deepmimic/deepmimic/DeepMimicCore/__pycache__/
deepmimic/deepmimic/data/intermediate/
deepmimic/deepmimic/DeepMimicCore/objs/
deepmimic/deepmimic/DeepMimicCore/args 
deepmimic/deepmimic/DeepMimicCore/data 
deepmimic/deepmimic/DeepMimicCore/deps
deepmimic/deepmimic/DeepMimicCore/DeepMimicCore.py
models
experiments
experiments_old
g2_models
*.pt
__pycache__/
*.egg-info/
*.vs/
*.idea/
x64/
deps/
commands.txt
